@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 640px) {
  .clip-wave-bottom {
    clip-path: polygon(
      0% 0%, 
      100% 0%, 
      100% 88%, 
      75% 94%, 
      50% 88%, 
      25% 94%, 
      0% 88%
    );
  }

  .clip-wave-top {
    clip-path: polygon(
      0% 12%,
      25% 6%,
      50% 12%,
      75% 6%,
      100% 12%,
      100% 100%,
      0% 100%
    );
  }
}

/* Tablet (641px to 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .clip-wave-bottom {
    clip-path: polygon(
      0% 0%, 
      100% 0%, 
      100% 86%, 
      75% 93%, 
      50% 86%, 
      25% 93%, 
      0% 86%
    );
  }

  .clip-wave-top {
    clip-path: polygon(
      0% 14%,
      25% 6%,
      50% 14%,
      75% 6%,
      100% 14%,
      100% 100%,
      0% 100%
    );
  }
}

/* Desktop (1025px and up) */
@media (min-width: 1025px) {
  .clip-wave-bottom {
    clip-path: polygon(
      0% 0%, 
      100% 0%, 
      100% 85%, 
      75% 95%, 
      50% 85%, 
      25% 95%, 
      0% 85%
    );
  }

  .clip-wave-top {
    clip-path: polygon(
      0% 15%,
      25% 5%,
      50% 15%,
      75% 5%,
      100% 15%,
      100% 100%,
      0% 100%
    );
  }
}
.react-select__control {
  border-radius: 0.5rem;
  border-color: #d1d5db;
  min-height: 42px;
}

.react-select__control--is-focused {
  border-color: #2dd4bf;
  box-shadow: 0 0 0 2px rgba(45, 212, 191, 0.3);
}

.react-select__menu {
  z-index: 50;
}
